[submodule "lib/websocket-server"]
	path = lib/websocket-server
	url = https://github.com/joewalnes/websocketd
[submodule "lib/websocket-client"]
	path = lib/websocket-client
	url = https://github.com/warmcat/libwebsockets
[submodule "lib/scrypt-js"]
	path = lib/scrypt-js
	url = https://github.com/ricmoo/scrypt-js
[submodule "lib/rsa-js"]
	path = lib/rsa-js
	url = https://github.com/wwwtyro/cryptico
[submodule "websocket-server"]
	path = lib/websocket-server
	url = https://github.com/joewalnes/websocketd
[submodule "websocket-client"]
	path = lib/websocket-client
	url = https://github.com/warmcat/libwebsockets
[submodule "src/client/libwsclient"]
	path = src/client/libwsclient
	url = https://github.com/payden/libwsclient