[submodule "lib/websocket-server"]
	path = lib/websocket-server
	url = https://github.com/payden/libwebsock
[submodule "lib/websocket-client"]
	path = lib/websocket-client
	url = https://github.com/zhaojh329/libuwsc
[submodule "lib/scrypt-js"]
	path = lib/scrypt-js
	url = https://github.com/ricmoo/scrypt-js
