:root {

	--chat-color: #DEDEDE;
	--btn-color: #BCBCBC;
	--btn2-color: #888;
	--btn-hover-color: #AAA;
	--btn2-hover-color: #666;
	--msg-color: #EEEEEE;
	--text-color: #000000;
	--text2-color: #AAA;
	--body-color: #FFFFFF;
	--shadow-color: #00000066;
	--chat-inner-color: #AAAAAA;
	--url-color: #4256f4;

}

* {	
	transition: background-color 0.2s linear, color 0.2s linear;

	font-family: "Calibri";
	cursor: default;
}

body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#chat {

	display: none; 
	position: absolute;

	width: 50%;
	height: 96%;
	left: 25%;
	top: 2%;

	background-color: var(--chat-color);

	border-radius: 0.5vw;

}

#bar, #username_info, #receiver_info, #receiver_info_0 {

	position: absolute;

	width: 100%;
	height: 4.2%;

	background-color: var(--chat-color);

	border-radius: 0.5vw 0.5vw 0 0;

	padding: 0;
	text-align: center;
	padding-top: 0.8%;
	font-size: 2.6vh;
	color: var(--text2-color);
}

#username_info, #receiver_info, #receiver_info_0 {
	background-color: transparent;
	text-align: left;
	padding-left: 2%;
	padding-right: 2%;
	width: 96%;
	font-style: italic;
}

.italic {
	font-style: italic;
}

#receiver_info {
	padding-top: 0.2%;
	width: 91%;
	left: 5%;
}

#username_info {
	text-align: right;
}

#messages {

	margin-top: 4.2%;

	width: 96%;
	height: 82%;

	background-color: var(--chat-inner-color);

	overflow-y: scroll;
	overflow-x: hidden;

	padding: 2%;
}

input {
    border: 0px solid;
    outline: none;
}

#input, #send {	
	font-size: 1vw;
    background-color: transparent;
    padding: 0px;
    padding-left: 2%;
}

#input {

	cursor: text;
	position: absolute;
	
	bottom: 1%;
	left: 1%;
	width: 84%;
	height: 5%;

	border-radius: 100vw 0 0 100vw;

	background-color: var(--btn-color);
	color: #000000;

}

#send {

	position: absolute;
	
	padding: 0px;

	bottom: 1%;
	left: 87%;
	width: 12%;
	height: 5%;

	border-radius: 0 100vw 100vw 0;

	color: #FFFFFF;
	background-color: var(--btn2-color);

	cursor: pointer;

}

#send:hover {
	background-color: var(--btn2-hover-color);
}

.message {

	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;

	margin-top: 5%;

}

.message:first-child {
	margin-top: 0;
}

@keyframes fade-in {
	from {
		opacity: 0;
		padding-left: 0;
		padding-right: 0;
	}
}

.bubble {

	background-color: var(--msg-color);
	color: var(--text-color);

	max-width: 60%;
	min-width: 10%;
	min-height: 3%;

	overflow: hidden;

	padding-top: 1.5%;
	padding-bottom: 1.5%;
	padding-left: 2%;
	padding-right: 2%;

	border-radius: 3vh 3vh 3vh 3vh;

	font-size: 1vw;
	animation: fade-in 0.5s linear;

}

.left > .bubble {
	float: left;
}

.right > .bubble {
	float: right;
}

#gradient_bottom {

	width: 100%;
	height: 4%;
  	background-image: linear-gradient(transparent, var(--shadow-color));
  	transform: translate(0, -100%);
  	pointer-events: none;

}

.gradient {
	width: 100%;
	height: 4%;
  	pointer-events: none;
  	transition: opacity 0.2s linear;
  	opacity: 0;
}

#gradient_top {

	border-radius: 0.5vw 0 0 0;
	top: 5%;
	position: absolute;
  	background-image: linear-gradient(var(--shadow-color), transparent);

}

.compressed {
	margin-top: 1%;
}

.info {
	color: var(--text-color);
	width: 95%;
	padding-left: 2%;
	font-size: 0.8vw;
	margin-bottom: 1%;

}

.left > .info {
	
}

.right > .info {
	text-align: right;
}

/*
#scrolldown {

	position: absolute;

	width: 2vw;
	height: 2vw;
	border-radius: 100vw;
	background-color: var(--btn-color);

	bottom: 11%;
	right: 2vw;

	box-shadow: 0 0 0.6vw 0 var(--shadow-color);
	text-align: center;

	opacity: 0;
	transition: opacity 0.1s linear;
}
*/

#scrolldown { 

	position: absolute;
    width: 0; 
    height: 0;
	bottom: 11%;
	right: 2vw;

    border: 1.2vw solid transparent; 
    border-top: 2vw solid var(--btn-color); 

	opacity: 0;
	transition: opacity 0.1s linear, border-top-color 0.1s linear;
}

#scrolldown:hover {
    border-top: 2vw solid var(--btn-hover-color); 
}

.round_btn {
	text-align: center;
	font-size: 4vh;
	padding-top: 1vh;

	float: right;
	position: relative;
	margin-right: 1vh;
	margin-top: 1vh;
	width: 8vh;
	height: 7vh;

	background-color: var(--btn-color);
	border-radius: 100vw;
}

.round_btn:hover {
	background-color: var(--btn-hover-color) !important;
}

#clear {
	position: absolute;
	left: 1vw;
	bottom: 1vw;
	width: 5vh;
	height: 4vh;
}

#darkmode::after {
	content: "🌙";
}

#anon:hover {
	background-color: var(--btn-hover-color);
}

body {
	background-color: var(--body-color);
}

::-webkit-scrollbar {
  	width: 1.5%;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}
 
::-webkit-scrollbar-thumb {
  	background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  	background: #555; 
}

.timestamp {
	text-align: right;
	color: var(--text2-color);
	font-size: 0.8vw;
	padding-top: 0.4vw;
}

.url {
	text-decoration: none;
	color: var(--url-color);
}

.size1 {
	font-size: 2vw;
}

.size2 {
	font-size: 4vw;
}

#login {

	position: absolute;

	background-color: var(--chat-color);
	width: 40vw;
	height: auto;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	border-radius: 1vw;

}

#password, #username, #login_btn {

	background-color: var(--btn-color);
	width: 38vw;
	height: calc(12vh - 1.5vw);

	margin: 0.5vw;

	border-radius: 1vw;
	font-size: 2vw;

	padding-left: 1vw;

}

#login_btn {
	padding: 0;
	height: 5vh;
	width: 39vw;
	font-size: 2vw;

}

#username:disabled {
	background-color: var(--msg-color);
	color: var(--btn2-color);
}