body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#chat {

	position: absolute;

	width: 50%;
	height: 96%;
	left: 25%;
	top: 2%;

	background-color: #DEDEDE;

}

input {	
    background-color: transparent;
    border: 0px solid;
    outline: none;
    padding: 0px;
    padding-left: 2%;
}

#input {

	position: absolute;
	
	bottom: 1%;
	left: 1%;
	width: 84%;
	height: 5%;

	border-radius: 100vw 0 0 100vw;

	background-color: #BCBCBC;

}

#send {

	position: absolute;
	
	padding: 0px;

	bottom: 1%;
	left: 87%;
	width: 12%;
	height: 5%;

	border-radius: 0 100vw 100vw 0;

	color: #FFFFFF;
	background-color: #999;

	transition: background-color 0.2s linear;

}

#send:hover {
	background-color: #666;
}