:root {

	--chat-color: #333;
	--btn-color: #555;
	--btn2-color: #777;
	--btn-hover-color: #999;
	--btn2-hover-color: #999;
	--msg-color: #444;
	--text-color: #FFFFFF;
	--body-color: #111;
	--shadow-color: #00000088;
	--chat-inner-color: #555555;

}

.info {
	color: white;
}

#messages {
	background-color: #222;
}

#darkmode::after {
	content: "☀️";
}